html,body { font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height: 18px; }

#visualization { display:block; padding:10px 5px 5px 5px; visibility:hidden; }
#vis_interface { visibility:hidden; width:1240px; border-top:1px solid #000; padding-top:10px; margin-bottom:0px; }
#vis_svg { visibility:hidden; width:1240px; border-bottom: 1px solid #000; padding-bottom:10px; }
#pythonout { display:none; }

p { margin:15px 0px 10px 0px; width:1240px; }

textarea { width:1236px; height:150px; font-size:10px; font-family:monospace; }
.textfield { width:25px; }

h1 { font-size:18px; }
h2 { font-size:14px; }

table { width:1240px; border:1px solid #ddd; border-collapse:collapse; font-size:9px; }
th { padding:2px; border:1px solid #ddd; background:#efefef; }
td { padding:2px; border:1px solid #ddd; }